.flashcards-wrapper {
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(167, 165, 165);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.topic-container {
  grid-column: span 1;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.topic-container.active {
  grid-column: 1 / span 3;
  background-color: #f0f0f0;
}

.topic-header {
  width: 100%;
  padding: 12px 15px;
  border: none;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.topic-header:hover {
  background-color: #706f6f;
}

.subtopic-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  background-color: #f0f0f0;
}

.subtopic-link {
  padding: 5px 15px;
  margin: 5px;
  border: 1px solid #007bff;
  border-radius: 4px;
  text-decoration: none;
  color: #007bff;
  background-color: #f0f0f0;
  font-size: 14px;
  transition: background-color 0.2s;
}

.subtopic-link:hover {
  background-color: #e6f7ff;
}

.flashcards-loadingwrapper {
  background-color: rgb(167, 165, 165);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
