.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(167, 165, 165);
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-wrapper Button {
  background-color: white;
  color: "black";
}
